*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(252, 243, 255);
	padding: 0 1rem;
}

.page-title{
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1.8rem;
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 79, 1) 39%, rgba(0, 212, 255, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.accordion-container{
	max-width: 31.25rem;
	margin: 1rem auto;
	font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
}

.accordion-list{
	margin: 0 auto;
	list-style: none;
}

.accordion-item{
	border-bottom: 1px solid rgb(70, 70, 70);
	overflow: hidden;
}

.accordion-item:first-child {
	border-top: 1px solid rgb(70, 70, 70);
}

.item-radio[type="radio"]{
	visibility: hidden;
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

.item-label{
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	font-weight: bold;
	font-size: 0.8rem;
	-webkit-transition: color .35s, padding .35s;
	-o-transition: color .35s, padding .35s;
	transition: color .35s, padding .35s;
}

.accordion-header{
	display: flex;
	align-items: center;
}

.item-icon{
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	width: 1.3rem;
	min-width: 1.3rem;
	height: 1.3rem;
	min-height: 1.3rem;
	-webkit-transition: transform .35s, padding .35s;
	-o-transition: transform .35s, padding .35s;
	transition: transform .35s, padding .35s;
}

.item-content{
	max-height: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	-webkit-transition: max-height .35s, padding .35s;
	-o-transition: max-height .35s, padding .35s;
	transition: max-height .35s, padding .35s;
}

.accordion-item input:checked~.item-content {
	max-height: 100vh;
	padding: 1rem 0;
}

.accordion-item input:checked~.item-label .item-icon {
	transform: rotate(180deg);
}

.accordion-item input:checked~.item-label {
	color: #5800aa;
}

.item-content img{
	max-width: 100%;
}

@media screen and (min-width: 740px) {
	.page-title {
		font-size: 2rem;
	}

	.item-label {
		font-size: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.page-title {
		font-size: 2.2rem;
	}

	.item-label {
		font-size: 1.2rem;
		cursor: pointer;
	}

	.accordion-item:hover .item-content {
		max-height: 100vh;
	}

	.accordion-item:hover .item-label {
		color: #7104d6;
	}
}